:root {
  --primary-color: #E64A19;
  --secondary-color: #333;
  --text-color: #FFF;
  --backround-color: #212121;
  --border-color: #424242;
  --radius: 4px;
  --label-color: #BDBDBD;
  --hover: #F4511E;
  --secondary-hover: #545454;
  --dropdown-button-hover: #333333;
  --modal-background: #2A2A2A;
}

[data-theme="light"] {
  --secondary-color: #e2e2e2;
  --text-color: #212121;
  --backround-color: #fff;
  --border-color: #bdbdbd;
  --label-color: #212121;
  --secondary-hover: #EEE;
  --dropdown-button-hover: #f1f1f1;
  --modal-background: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--backround-color);

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--backround-color);

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
  }
}

.light {
  color: #212121;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  border-radius: var(--radius);

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

#portal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.showContent {
  animation: showAnimation .2s linear;
  position: relative;
}

@keyframes showAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.hideContent {
  animation: hideAnimation .1s linear;
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.Toastify__toast-theme--dark {
  background: var(--modal-background) !important;
}