.dropdown_outer {
  display: inline-block
}

.dropdown_button {
  background-color: var(--modal-background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
}

.primary svg {
  fill: var(--primary-color)
}

.dropdown_inner {
  background-color: var(--modal-background);
  border-radius: var(--radius);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  position: absolute;
  top: 5px;
  right: 3px;
  z-index: 20;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 180px;
  max-width: 300px;
  padding: 8px 0;

  button {
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    transition: background-color .3s ease;

    &:hover {
      background-color: var(--dropdown-button-hover);
    }

    svg {
      fill: #949494;
      width: 18px;
      min-width: 18px;
      height: 18px;
    }
  }

  div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}