.dropdown_outer {
  position: relative;
  display: inline-block
}

.dropdown_button {
  background: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: color .2s ease;

  &:hover {
    color: #1d1d1f;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.dropdown_title {
  font-size: 14px;
}

.dropdown_inner {
  background-color: #2a2a2a;
  border-radius: 4px;
  display: grid;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 180px;
  max-width: 300px;
  padding: 8px 0;

  button {
    font-size: 16px;
    color: #fff;
    background: none;
    text-align: left;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    padding: 5px 15px;
    transition: all .3s ease;

    &:hover {
      background-color: #343434;
    }

    svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }
}